feast==0.56.0
mlflow==2.16.0
scikit-learn==1.7.2
pandas==2.3.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.11
psycopg-binary==3.2.12
psycopg-pool==3.2.7
psycopg==3.2.12
evidently==0.7.15
great_expectations==0.17.21
prefect==3.6.1